﻿

body{

}
.carousel-caption {
        color:black;
        background-color:white;
        margin-top:10px;
    }
h1 {
    color:red;
    font-style: italic;
    font-family:'Comic Sans MS';
}
a{text-decoration: none;

}
a:visited{color:forestgreen;

}
a:hover{font-weight:bold;

}
a:active{text-decoration:none;


}
